@media(max-width: 768px){
    .navigation .float-menu {
        display: none;
    }
}

.content:hover {
    margin-left: 120px
}

.content>a>img {
    width: 50px;
    float: right;
    margin-top: 8px
}

.content .text {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 30px 0;
    font-size: 12px;
    color: #fff;
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%)
}

.navigation .float-menu {
    position: fixed;
    top: 180px;
    left: -125px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation .float-menu li {
    width: 190px;
    height: 80px;
    background: rgb(255, 94, 0);
    border-radius: 0 10px 10px 0;
    color: #B7B174;
    text-decoration: none;
    outline: none;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 5px 10px 0;
    text-align: center;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer
}

.navigation .float-menu li:hover {
    opacity: .8
}

.shadow_side {
    webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3)
}